body {
  // background-color: #1d062f !important;
  background-color: #19128b !important;
}

p {
  cursor: pointer !important;
}
a {
  text-decoration: none !important;
}
li {
  list-style: none !important;
}

#header {
  padding: 20px 0;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 300px;
      height: 100px;
    }
  }
  .page {
    padding: 2rem 0 0 0;
    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    p,
    a {
      color: rgba(255, 255, 255, 0.743);
      font-size: 25px;
      font-weight: 500;
      &:hover {
        color: white;
      }
    }
  }
  .sing-in {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 0 0;
    button {
      padding: 20px;
      border: 1px solid #73ff7f;
      border-radius: 5px;
      background-color: #ffffff;
      color: rgb(15, 3, 3);
      font-size: 20px;
      font-weight: 500;
      &:hover {
        background-color: rgb(25, 234, 77);
        color: #fefcff;
      }
    }
  }
}

#first-section {
  padding: 100px 0;
  .img {
    background-image: radial-gradient(
      at center center,
      #61ffa9 0%,
      #19128b 55%
    );
  }
  .title {
    padding-top: 50px;
    color: white;
    font-weight: 700;
    font-size: 70px;
    span {
      // color: #3af44a;
      color: #61ffa9;
    }
  }
  p {
    color: white;
    padding-top: 30px;
  }
  .started-watch {
    padding-top: 30px;
    .started {
      padding: 20px;
      border: 1px solid #73ff7f;
      border-radius: 5px;
      background-color: #61ffa9;
      color: #1d062f;
      font-size: 20px;
    }
  }
  .avatar-img {
    padding-top: 50px;
    img {
      width: 70px;
    }
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
  }

  .online-user {
    p {
      font-size: 15px;
      font-weight: 600;
    }
  }
}

#second-section {
  background-color: #08753a;
  padding: 50px;

  .multiple,
  .motion,
  .ultra {
    text-align: center;
  }
  .platform {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100px;
      height: 100px;
    }
    h3 {
      font-size: 30px;
      font-weight: 700;
      color: white;
      text-align: center;
      padding: 30px 0;
    }
    p {
      color: rgba(255, 255, 255, 0.697);
      font-size: 20px;
      font-weight: 500;
      text-align: center;
    }
  }
}

#render {
  img {
    height: 700px;
  }
  .img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(
      at center center,
      #61ffa9 0%,
      #19128b 55%
    );
  }
  padding: 100px 0;
  h3 {
    font-size: 50px;
    font-weight: 700;
    color: white;
    text-align: center;
    padding: 30px 0;
    span {
      color: #61ffa9;
    }
  }
  p {
    color: rgba(255, 255, 255, 0.697);
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }
  .btn-render {
    text-align: center;
    padding: 50px 0;
  }
  button {
    padding: 20px;
    background-color: #61ffa9;
    font-size: 22px;
    font-weight: 600;
    border-radius: 5px;
  }
}

#world-like,
#user {
  padding: 100px 0;
  img {
    height: 700px;
  }
  .img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(
      at center center,
      #61ffa9 0%,
      #19128b 55%
    );
  }
  h3 {
    font-size: 50px;
    font-weight: 700;
    color: white;
    text-align: center;
    padding: 30px 0;
    span {
      color: #61ffa9;
    }
  }
  p {
    color: rgba(255, 255, 255, 0.697);
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }
  .world-container {
    padding: 100px 0;
  }
}

#building {
  padding: 100px 0;
  .content {
    padding: 100px 0;
  }
  h3 {
    font-size: 50px;
    font-weight: 700;
    color: white;
    text-align: center;
    padding: 30px 0;
    span {
      color: #61ffa9;
    }
  }
  p {
    color: rgba(255, 255, 255, 0.697);
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }
  img {
    height: 600px;
  }
  .img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(
      at center center,
      #61ffa9 0%,
      #19128b 55%
    );
  }

  .content-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 40px 0;

    img {
      height: 100px;
      width: auto;
    }

    .content-1 {
      padding: 20px 70px;
      border: #08753a 4px solid;
      border-radius: 5px;
      &:hover {
        background-color: #08753a;
        border: #08753a 4px solid;
        color: white;
      }
    }
    .content-3 {
      background-color: #08753a;
      border: #08753a 4px solid;
      color: white;
    }
  }
}

#footer {
  .social-media {
    li {
      a{
        i{
          font-size: 30px;
          &:hover {
            color: #61ffa9;
          }
        }
      }
    }
  }
  a {
    color: white;
  }
  p {
    padding: 20px 0;
    color: white;
  }
  .social-media {
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      gap: 30px;
    }
  }

  .footer-left {
    display: flex;
    justify-content: start;
  }

  .footer-right {
    display: flex;
    justify-content: end;
    a {
      color: white;
    }
  }

  .footer-text {
    text-align: center;
  }
}
