body {
  background-color: #19128b !important;
}

p {
  cursor: pointer !important;
}

a {
  text-decoration: none !important;
}

li {
  list-style: none !important;
}

#header {
  padding: 20px 0;
}
#header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .logo img {
  width: 300px;
  height: 100px;
}
#header .page {
  padding: 2rem 0 0 0;
}
#header .page ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#header .page p,
#header .page a {
  color: rgba(255, 255, 255, 0.743);
  font-size: 25px;
  font-weight: 500;
}
#header .page p:hover,
#header .page a:hover {
  color: white;
}
#header .sing-in {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 0 0;
}
#header .sing-in button {
  padding: 20px;
  border: 1px solid #73ff7f;
  border-radius: 5px;
  background-color: #ffffff;
  color: rgb(15, 3, 3);
  font-size: 20px;
  font-weight: 500;
}
#header .sing-in button:hover {
  background-color: rgb(25, 234, 77);
  color: #fefcff;
}

#first-section {
  padding: 100px 0;
}
#first-section .img {
  background-image: radial-gradient(at center center, #61ffa9 0%, #19128b 55%);
}
#first-section .title {
  padding-top: 50px;
  color: white;
  font-weight: 700;
  font-size: 70px;
}
#first-section .title span {
  color: #61ffa9;
}
#first-section p {
  color: white;
  padding-top: 30px;
}
#first-section .started-watch {
  padding-top: 30px;
}
#first-section .started-watch .started {
  padding: 20px;
  border: 1px solid #73ff7f;
  border-radius: 5px;
  background-color: #61ffa9;
  color: #1d062f;
  font-size: 20px;
}
#first-section .avatar-img {
  padding-top: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
#first-section .avatar-img img {
  width: 70px;
}
#first-section .online-user p {
  font-size: 15px;
  font-weight: 600;
}

#second-section {
  background-color: #08753a;
  padding: 50px;
}
#second-section .multiple,
#second-section .motion,
#second-section .ultra {
  text-align: center;
}
#second-section .platform {
  display: flex;
  justify-content: center;
  align-items: center;
}
#second-section .platform img {
  width: 100px;
  height: 100px;
}
#second-section .platform h3 {
  font-size: 30px;
  font-weight: 700;
  color: white;
  text-align: center;
  padding: 30px 0;
}
#second-section .platform p {
  color: rgba(255, 255, 255, 0.697);
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

#render {
  padding: 100px 0;
}
#render img {
  height: 700px;
}
#render .img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(at center center, #61ffa9 0%, #19128b 55%);
}
#render h3 {
  font-size: 50px;
  font-weight: 700;
  color: white;
  text-align: center;
  padding: 30px 0;
}
#render h3 span {
  color: #61ffa9;
}
#render p {
  color: rgba(255, 255, 255, 0.697);
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
#render .btn-render {
  text-align: center;
  padding: 50px 0;
}
#render button {
  padding: 20px;
  background-color: #61ffa9;
  font-size: 22px;
  font-weight: 600;
  border-radius: 5px;
}

#world-like,
#user {
  padding: 100px 0;
}
#world-like img,
#user img {
  height: 700px;
}
#world-like .img,
#user .img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(at center center, #61ffa9 0%, #19128b 55%);
}
#world-like h3,
#user h3 {
  font-size: 50px;
  font-weight: 700;
  color: white;
  text-align: center;
  padding: 30px 0;
}
#world-like h3 span,
#user h3 span {
  color: #61ffa9;
}
#world-like p,
#user p {
  color: rgba(255, 255, 255, 0.697);
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
#world-like .world-container,
#user .world-container {
  padding: 100px 0;
}

#building {
  padding: 100px 0;
}
#building .content {
  padding: 100px 0;
}
#building h3 {
  font-size: 50px;
  font-weight: 700;
  color: white;
  text-align: center;
  padding: 30px 0;
}
#building h3 span {
  color: #61ffa9;
}
#building p {
  color: rgba(255, 255, 255, 0.697);
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
#building img {
  height: 600px;
}
#building .img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(at center center, #61ffa9 0%, #19128b 55%);
}
#building .content-img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 40px 0;
}
#building .content-img img {
  height: 100px;
  width: auto;
}
#building .content-img .content-1 {
  padding: 20px 70px;
  border: #08753a 4px solid;
  border-radius: 5px;
}
#building .content-img .content-1:hover {
  background-color: #08753a;
  border: #08753a 4px solid;
  color: white;
}
#building .content-img .content-3 {
  background-color: #08753a;
  border: #08753a 4px solid;
  color: white;
}

#footer .social-media li a i {
  font-size: 30px;
}
#footer .social-media li a i:hover {
  color: #61ffa9;
}
#footer a {
  color: white;
}
#footer p {
  padding: 20px 0;
  color: white;
}
#footer .social-media ul {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 30px;
}
#footer .footer-left {
  display: flex;
  justify-content: start;
}
#footer .footer-right {
  display: flex;
  justify-content: end;
}
#footer .footer-right a {
  color: white;
}
#footer .footer-text {
  text-align: center;
}