body {
  background-color: #1d062f !important;
}

p {
  cursor: pointer !important;
}

a {
  text-decoration: none !important;
}

li {
  list-style: none !important;
}

#header {
  padding: 20px 0;
}
#header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .logo img {
  width: 300px;
  height: 100px;
}
#header .page {
  padding: 1rem 0;
}
#header .page ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#header .page p,
#header .page a {
  color: rgba(255, 255, 255, 0.743);
  font-size: 25px;
  font-weight: 500;
}
#header .page p:hover,
#header .page a:hover {
  color: white;
}
#header .sing-in {
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .sing-in button {
  padding: 20px;
  border: 1px solid #73ff7f;
  border-radius: 5px;
  background-color: #1d062f;
  color: white;
  font-size: 20px;
  font-weight: 500;
}
#header .sing-in button:hover {
  background-color: white;
  color: #1d062f;
}

#first-section {
  padding: 100px 0;
}
#first-section .img {
  background-image: radial-gradient(at center center, rgba(89, 255, 0, 0.958) 0%, #1d062f 55%);
}
#first-section .title {
  padding-top: 50px;
  color: white;
  font-weight: 700;
  font-size: 70px;
}
#first-section .title span {
  color: #3af44a;
}
#first-section p {
  color: white;
  padding-top: 30px;
}
#first-section .started-watch {
  padding-top: 30px;
}
#first-section .started-watch .started {
  padding: 20px;
  border: 1px solid #73ff7f;
  border-radius: 5px;
  background-color: #5bfa68;
  color: #1d062f;
  font-size: 20px;
}
#first-section .avatar-img {
  padding-top: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
#first-section .avatar-img img {
  width: 70px;
}
#first-section .online-user p {
  font-size: 15px;
  font-weight: 600;
}

#second-section {
  background-color: #310454;
  padding: 50px;
}
#second-section .multiple,
#second-section .motion,
#second-section .ultra {
  text-align: center;
}
#second-section .platform {
  display: flex;
  justify-content: center;
  align-items: center;
}
#second-section .platform img {
  width: 100px;
  height: 100px;
}
#second-section .platform h3 {
  font-size: 30px;
  font-weight: 700;
  color: white;
  text-align: center;
  padding: 30px 0;
}
#second-section .platform p {
  color: rgba(255, 255, 255, 0.697);
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}